:root{
    /* color_palet */
    --mainColor : #0557AD;
    --2ndColor : #ED221C;
    --bgfooterColor : #282828;
    --fontColor : #333333;
    --yellowColor : #DEAA4E;
    --admainColor : #263A71;
    --adtxtColor : #7B8DB4;
    --adminbgColor : #F2F7FF;
    --text-color : #606060;
   
}
body{
    font-family: PT Sans;
}
/* heading  */
.logo-img{
 
    margin-left: 40px;
    width: 46px;
    height: 46px;
  }
  .l-title{
      font-size: 8px;
  }
  .btn 
  {
      width: 50px;
      height: 41px;
      border-radius: 30px;
      text-align: center;
  
  }
  .lan{
      width: 60px;
      height: 14px;
      font-size: 14px;
      font-family: Sansation;
      text-align: center;
  }
  .log{
      background-color: var(--admainColor);
  }
  .lan{
      text-decoration: none;
      color: #333333;
      opacity: 50%;
      padding-top: 0px;
  }
  /* heading  */
  /* navbar  */
.navbar{
    background-color: var(--mainColor);
    text-align: center;
    
}
.navbar .navbar-nav .nav-link{
    color: #ffffff;
    font-size: 28px;
    font-family: 'PT Serif';
    letter-spacing: 3%;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--yellowColor);
}
/* navbar  */

.back-img{
    background-image: url(../imgs/stars.jpg);
    height: 300px;
}
.back-text{
    margin-top: 100px ;
    color: #ffffff;
    font-size: 64px;
    font-weight: lighter;
    font-family: Roboto;

}

/* footer */
.foot{
    text-align: center;
    font-size: 18px;
    background-color: var(--bgfooterColor);
    color: #ffffff;
    padding: 15px;
    align-content: center;
    margin-bottom: 0px;
    font-weight: 200;
}
.foot-p{
    margin-bottom: 0px;
}
/* footer */
