:root{
    /* color_palet */
    --mainColor : #0557AD;
    --2ndColor : #ED221C;
    --bgfooterColor : #282828;
    --fontColor : #333333;
    --yellowColor : #DEAA4E;
    --admainColor : #263A71;
    --adtxtColor : #7B8DB4;
    --adminbgColor : #F2F7FF;
    --text-color : #606060;
   
}
body{
  background-color: var(--adminbgColor) !important;
}
.card-type{
    width: 182px;
    height: 120px !important;
    background-color: #fff;
    border-radius: 7px !important;
    align-items: center;
}

.card-tit{
    margin-top: 0px;
    color: var(--mainColor);
}
.link-none{
    text-decoration: none;
    color: var(--mainColor);
}
.doc-card{
    width: 406px;
    height: 60px;
    border: 4px;
    border-color: #508AC7;
    border:solid 2px;
    border-radius: 7px;

}
.link-none{
    text-decoration: none;
    color: var(--mainColor) !important;
}
.dep-title{
    color: var(--mainColor) !important;
    font-size: 18px;
    font-weight: 500;
}
/* fillter */
.filter {
    height: 30px;
    color: var(--fontColor);
    font-family: PT Serif;
    font-size: 10px;
    border-radius: 5px;
    width: 80px;
    border: solid 1px;
    border-color: var(--fontColor);
    background-color: #fff;
}
.search{
    border: solid 2px;
    border-color:#ccc ;
    padding-left: 10px;
    width: 100px;
    margin-top: 8px;
}

/* fillter */
/* table */


table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
.th-color{
    background-color: var(--admainColor);
}
/* table */
/* seeall */
.button{
  width: fit-content !important;
  background-color: var(--admainColor) !important;
  color: #fff !important;
  justify-self: end;
  padding: 10px;
  font-weight: 600 !important;
  margin-right: 120px !important;
}
  /* seeall */
  /* button group */
.button-group-active{
  border-radius: 5px !important;
  background-color: var(--mainColor) !important;
  font-family: PT Serif;
}
.button-group{
  border-radius: 5px !important;
  background-color: #eeeeee !important;
  font-family: PT Serif;
  color: var(--admainColor) !important;
  border-color: #eeeeee !important;
}
/* button group */
/* title */
.title{
  color: var(--admainColor);
  margin: 30px;
}
/* title */
/* footer */
.foot{
  text-align: center;
  font-size: 18px;
  background-color: var(--bgfooterColor);
  color: #ffffff;
  padding: 15px;
  align-content: center;
  margin-bottom: 0px;
  font-weight: 200;
}
.foot-p{
  margin-bottom: 0px;
}
/* footer */
/* form */
.form-btn{
  color: #ffffff;
  background-color: var(--mainColor);
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  font-family: Poppins;
  border: none;
  opacity: 10px
  ;
}
.input-stayle{
  border: solid 0px !important;
  border-bottom: solid 1px !important;
  border-color: var(--admainColor) !important;
  color: #7F8185;
  border-radius: 0% !important;
}
.gen-label{
  color: var(--mainColor);
  margin-top: 11px;
}
/* form */
/* card */
.card-type{
  width: 182px;
  height: 120px !important;
  background-color: #fff;
  border-radius: 7px !important;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5), 0 0 0 0 black;

}

.card-tit{
  margin-top: 0px;
  color: var(--mainColor);
}
.link-none{
  text-decoration: none;
  color: var(--mainColor);
}
/* card */
