:root{
    /* color_palet */
    --mainColor : #0557AD;
    --2ndColor : #ED221C;
    --bgfooterColor : #282828;
    --fontColor : #333333;
    --yellowColor : #DEAA4E;
    --admainColor : #263A71;
    --adtxtColor : #7B8DB4;
    --adminbgColor : #F2F7FF;
    --text-color : #606060;
   
}
body{
    font-family: PT Sans;
}
/* heading  */
.logo-img{
 
    margin-left: 40px;
    width: 46px;
    height: 46px;
  }
  .l-title{
      font-size: 8px;
  }
  .btn 
  {
      width: 50px;
      height: 41px;
      border-radius: 30px;
      text-align: center;
  
  }
  .lan{
      width: 60px;
      height: 14px;
      font-size: 14px;
      font-family: Sansation;
      text-align: center;
  }
  .log{
      background-color: var(--admainColor);
  }
  .lan{
      text-decoration: none;
      color: #333333;
      opacity: 50%;
      padding-top: 0px;
  }
  /* heading  */
  /* navbar  */
.navbar{
    background-color: var(--mainColor);
    text-align: center;
    
}
.navbar .navbar-nav .nav-link{
    color: #ffffff;
    font-size: 28px;
    font-family: 'PT Serif';
    letter-spacing: 3%;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--yellowColor);
}
/* navbar  */
/* img */
.news-img{
    height: 300px;
}
/* img */
/* Breadcrumb */
.bread{
   
    background-color: #eeeeee;
    padding: 20px;
    
}
.bread-title{
    font-family: PT Serif;
    color: var(--admainColor);
    

}
.breadcrumb-link{
    color: #606060;
    text-decoration: none;
}
.active-item{
    color: var(--admainColor);
}
/* Breadcrumb */
/* p */
.text-color{
    color: var(--text-color);
}
/* p */
/* news card */
.news-card
{
    width: 280px;
    height: 280px;
    border-radius: 20px !important;

}
.card-title{
    font-family: PT Serif;

}
.card-btn{
    color: var(--text-color ) !important;
    width: 125px !important;
    border :solid var(--mainColor)  1px !important;
    font-family: PT Serif;
}
.card-btn :hover{
    color: #ffffff !important;
    background-color: var(--mainColor) !important;
}
.date-card{
    font-size: 12px;
    color: #D9D9D9;
    font-weight: 400;
    margin: 15px;
    padding-left: 15px;
}
   

/* news card */
/* button group */
.button-group-active{
    border-radius: 5px !important;
    background-color: var(--mainColor) !important;
    font-family: PT Serif;
}
.button-group{
    border-radius: 5px !important;
    background-color: #eeeeee !important;
    font-family: PT Serif;
    color: var(--mainColor) !important;
    border-color: #eeeeee !important;
}
/* button group */
/* make Appointment */
.Appointment-back{
    background-color: #D9D9D9;
    height: 270px;
}
.doc-pic{
    width: 410px;
    height: 460px;
    
}

.Appointment-cap{
    color: var(--mainColor);
    font-family: PT Serif;
}
.Appointment-btn{
    width: fit-content !important;
    background-color: var(--mainColor) !important;
    color: #ffffff !important;
    font-family: PT Serif;

}
/* make Appointment */
/* footer */
.foot{
    text-align: center;
    font-size: 18px;
    background-color: var(--bgfooterColor);
    color: #ffffff;
    padding: 15px;
    align-content: center;
    margin-bottom: 0px;
    font-weight: 200;
}
.foot-p{
    margin-bottom: 0px;
}
/* footer */
/* responsive */
@media only screen and (min-width: 992px)
{
    .doc-pic{
   position: absolute;
        bottom: 1px;

        
    }
    .cap{
       position: absolute;
       top: 70px;
       right: 1px;
    }
}
@media only screen and (max-width: 991px)
{
    .Appointment-back{
        height: fit-content;
    }
}
/* responsive */